# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables and secrets
.env
.env.*

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Logs
*.log
